@{
    ViewBag.Title = "East2West - 404";
    Layout = "~/Views/Shared/_LayoutSidePage.cshtml";
}

<section id="hero" class="background-image" data-background="url(img/header_bg.jpg)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="intro_title error">
            <h1 class="animated fadeInDown">404</h1>
            <p class="animated fadeInDown">Oops!! Some thing went wrong.</p>
            <a href="/" class="animated fadeInUp button_intro">Back to home</a> <a href="@Url.Action("GetListTour", "ClientTour")" class="animated fadeInUp button_intro outline">View all tours</a>
        </div>
    </div>
</section>