@{
    ViewBag.Title = "East2West - Thank You";
    Layout = "~/Views/Shared/_LayoutSidePage.cshtml";
}

<section id="hero" class="background-image" data-background="url(img/header_bg.jpg)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="intro_title error">
            <h1 class="animated fadeInDown">Thank you</h1>
            <p class="animated fadeInDown">For purchasing our services</p>
            <a href="/" class="animated fadeInUp button_intro">Back to home</a> <a href="@Url.Action("ShowInformation", "User", new { id = @ViewBag.UserId })" class="animated fadeInUp button_intro outline">Back to profile</a>
        </div>
    </div>
</section>